<ul
  style="height: 100%; background-color: #1f2c40;"
  class="navbar-nav sidebar sidebar-dark accordion"
  id="accordionSidebar"
>
  <!-- Sidebar - Brand -->
  <a
    class="sidebar-brand d-flex align-items-center justify-content-center"
    href="index.html"
  >
    <div class="sidebar-brand-icon">
      <i class="fa-solid fa-chart-simple"></i>
    </div>
    <div class="sidebar-brand-text mx-3">Analytics</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0" />

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <a class="nav-link" href="index.html">
      <i class="fa-solid fa-house"></i>
      <span>Home</span></a
    >
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider" />

  <div class="sidebar-heading">분석</div>

  <li class="nav-item">
    <a class="nav-link" href="eyetracking.html">
      <i class="fa-solid fa-eye"></i>
      <span>사용자 시선 분석</span></a
    >
  </li>

  <li class="nav-item">
    <a class="nav-link" href="emotions.html">
      <i class="fa-solid fa-face-laugh-squint"></i>
      <span>사용자 감정 분석</span></a
    >
  </li>

  <li class="nav-item">
    <a
      class="nav-link collapsed"
      href="#"
      data-toggle="collapse"
      data-target="#imageToggle"
      aria-expanded="true"
      aria-controls="collapseTwo"
    >
      <i class="fas fa-fw fa-cog"></i>
      <span>작품 통계</span>
    </a>
    <div
      id="imageToggle"
      class="collapse"
      aria-labelledby="headingTwo"
      data-parent="#accordionSidebar"
    >
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">작품 통계</h6>
        <a class="collapse-item" href="chapter.html">회차별 통계</a>
        <a class="collapse-item" href="entire.html">종합 통계</a>
      </div>
    </div>
  </li>

  <hr class="sidebar-divider" />

  <div class="sidebar-heading">관리</div>

  <li class="nav-item">
    <a class="nav-link" href="manage.html">
      <i class="fa-solid fa-eye"></i>
      <span>작품 관리</span></a
    >
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block" />
</ul>
